{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Guia Drogas</title>
</head>
<body>
    <main class="container">
        <section class="drugs-container">
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image" id="img-1"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>
            <div class="item">
                <div class="drug-image"></div>
                <h1>Nome Droga</h1>
                <p>Risco de vício</p>
                <p>Descriçãoaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>>

        </div>
    </div>
</body>
</html>